<form method="{{ method }}" action="{{ action }}">
    {% for field_name, messages in form.errors.items() %}
        <p>{{ ', '.join(messages) }}</p>
    {% endfor %}
    {{ form.csrf_token }}
    <p>Are you sure you want to delete this?</p>
    <input type="submit" value="Delete" class="btn btn-danger">
    {% for url, label in operations %}
        <a href="{{ url }}" class="btn btn-outline-secondary">{{ label }}</a>
    {% endfor %}
</form>
