{% if operations %}
<div class="btn-group">
    {% set url, label = operations[0] %}
    <a class="btn btn-outline-secondary" href="{{ url }}" role="button">
        {{ label }}
    </a>
    {% if operations|length > 1 %}
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for url, label in operations[1:] %}
        <a class="dropdown-item" href="{{ url }}">{{ label }}</a>
        {%endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
