<div class="table-responsive">
    <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% if rows %}
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% elif empty_text %}
            <tr>
                <td colspan="{{ headers|length }}">{{ empty_text }}</td>
            </tr>
        {% endif %}
    </table>
</div>
