<form method="{{ method }}" action="{{ action }}">
    {% for field_name, messages in form.errors.items() %}
        <p class="alert alert-danger" role="alert">{{ field_name }}: {{ ', '.join(messages) }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
                {{ field.label(text='%s <span style="color: red;" title="This element is required.">*</span>' % field.label.text if field.flags.required and require else field.label.text) }}
            {% endif %}

            {{ field(class_='form-control') }}

            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="alert alert-danger" role="alert">{{ e }}</p>
                {% endfor %}
            {% endif %}

        </div>
    {% endfor %}
    <input type="submit" value="Save" class="btn btn-primary">
    {% for url, label in operations %}
        <a href="{{ url }}" class="btn btn-outline-secondary">{{ label }}</a>
    {% endfor %}
</form>
