{% block content %}
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}

  <h2>New emails</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col">Date/Time</th>
        <th scope="col">Project</th>
      </tr>
    </thead>
    <tbody>
      {% for email in new_emails %}
        <tr>
          <th scope="row">{{ email.sender_address }}</th>
          <td>{{ email.subject }}</td>
          <td>{{ email.datetime }}</td>
          <td>
            <form action="/emails" method="post">
              <input type="hidden" name="email" value="{{ email.id }}" />
              <select name="project">
                {% for project in email.possible_projects %}
                  <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="submit" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Attached emails</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col">Date/Time</th>
        <th scope="col">Project</th>
      </tr>
    </thead>
    <tbody>
      {% for email in attached_emails %}
        <tr>
          <th scope="row">{{ email.sender_address }}</th>
          <td>{{ email.subject }}</td>
          <td>{{ email.datetime }}</td>
          <td>
            <form action="/emails" method="post">
              <input type="hidden" name="email" value="{{ email.id }}" />
              <select name="project">
                {% for project in email.possible_projects %}
                  <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="submit" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
