<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.2.1.slim.min.js') }}"></script>
</head>
<body class="fixed-nav" style="margin-top: 5em;">
<div class="content-wrapper">
    <div class="container-fluid">
        {% for url, label in operations %}
            <a href="{{ url }}" class="btn btn-outline-dark">{{ label }}</a>
        {% endfor %}
        <h1>{{ title }}</h1>
        <div>
            {{ content }}
        </div>
    </div>
</div>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Radically Open Security</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <li class="nav-item">
                <a class="nav-link" href="/emails">
                    <span class="nav-link-text">Emails</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">
                    <span class="nav-link-text">Projects</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
