{% block content %}
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <form action="/send-welcome-email" method="post" onsubmit="return confirm('This will immediately send out emails, are you sure?');">
    <input  class="btn btn-primary" style="float: right;" type="submit" value="send welcome email">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><input type="checkbox" onchange="checkAll(this)" name="chk[]" /></th>
          <th scope="col">Number</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Welcome email sent</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <td><input type="checkbox" name="project" value="{{ project.id }}" /></td>
            <th scope="row"><a href="/projects/{{ project.id }}">{{ project.number }}</a></th>
            <td>{{ project.type }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.welcome_email_sent }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}

<script type="text/javascript">
function checkAll(ele) {
  var checkboxes = document.getElementsByTagName('input');
  if (ele.checked) {
      for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == 'checkbox') {
              checkboxes[i].checked = true;
          }
      }
  } else {
      for (var i = 0; i < checkboxes.length; i++) {
          console.log(i)
          if (checkboxes[i].type == 'checkbox') {
              checkboxes[i].checked = false;
          }
      }
  }
}
</script>
