{% block content %}
  {% for message in messages %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  <h2>{{ project.number }} / {{ project.type }}: {{ project.name }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col">Date/Time</th>
      </tr>
    </thead>
    <tbody>
      {% for email in project.correspondence %}
        <tr>
          <th scope="row">{{ email.sender_address }}</th>
          <td>{{ email.subject }}</td>
          <td>{{ email.datetime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
